.root{
	-fx-background-color: #fff;
}
*{
	-fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
/*
 * Text Sizes
 */
 	.heading-1{
		-fx-font-size: 24px;
	}
	.heading-2{
		-fx-font-size: 18px;
	}
	.heading-3{
		-fx-font-size: 16px;
	}
	.big{
		-fx-font-size: 14px;
	}
	.normal{
		-fx-font-size: 12px;
	}
	.small{
		-fx-font-size: 10px;
	}
	.nano{
		-fx-font-size: 8px;
	}
	
/*
 * Button
 */
	 .button {
	    -fx-padding: 5 20 5 20;
	    -fx-border-style: solid;
	    -fx-background-color:#d9d9d9;
	    -fx-background-radius: 0 0 0 0;
	    -fx-border-radius: 0 0 0 0;
	    -fx-font-size: 11pt;
	    -fx-text-fill: #222222;
	    -fx-border-color:#BCBCBC;
	    -fx-background-insets: 1 1 1 1;
	}
	.button:hover{
		-fx-background-color: #E5E5E5;
	}
	.button:pressed, .button:default:hover:pressed{
	  -fx-background-color: #A3A3A3;
	  -fx-text-fill: white;
	}
	.button:default{
	    -fx-background-color: #d9d9d9;
	    -fx-text-fill: #222222;
	}
	.button:default:hover{
	    -fx-background-color: #E2E2E2;
	}
/*
 * Panes
 */
 	.pane{
 		-fx-padding: 5 20 5 20;
 	}
 /*
  * Text Field
  */
	.text-field {
		-fx-font: 12px "Segoe UI";
		-fx-text-fill: #212121;
		-fx-background-radius: 0;
		-fx-highlight-fill: rgb(45,137,239);
		-fx-background-color: -fx-box-border, white;    
		-fx-border-color: transparent;
	}
	.text-field:focused {
		-fx-background-color: -fx-box-border,-fx-box-border, white;
		-fx-background-radius: 0;
		-fx-border-color: transparent;
	}
/*
 * Labels
 */
 	.label{
 		-fx-font-family: "Segoe UI";
 		-fx-text-fill: #212121;
 	}
/*
 * ComboBox
 */
	.combo-box-base  {
		-fx-background-color: transparent;
		-fx-background-radius: 0, 0, 0, 0;
		-fx-padding: 2;
		-fx-border-width: 0 0 0 0;
	}
	.combo-box-base:hover {
    	-fx-background-color: transparent;
	}
	.combo-box-base:disabled {
	    -fx-opacity: .4;
	}
	.combo-box-base .arrow {
	    -fx-padding: 4;
	    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
	}
	.combo-box-popup .list-view {
	    -fx-background-color: #909090, -fx-control-inner-background;
	    -fx-background-radius: 0, 0, 0, 0;
	    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0) , 0, 0.0 , 0 , 0 );
	}
	.combo-box-popup .list-view .list-cell:hover{
	    -fx-background-color: #d9d9d9;
	    -fx-text-fill: #1d1d1d;
	}
	.combo-box-popup .list-view .list-cell:filled:selected{
	    -fx-background-color: #A3A3A3;
	    -fx-text-fill: #ffffff;
	}
	.combo-box-popup .list-view .list-cell:filled:selected:hover {
	    -fx-background-color: #d9d9d9;
	    -fx-text-fill: #1d1d1d;
	}
	.combo-box-popup .list-view .list-cell:filled:pressed, .combo-box-popup .list-view .list-cell:filled:selected:pressed{
	    -fx-background-color: #A3A3A3;
	    -fx-text-fill: #ffffff;
	}
/*
 * CheckBox
 */
 	.check-box .box{
 		-fx-background-color: transparent;
	    -fx-background-insets: 0;
	    -fx-background-radius: 0;
	    -fx-border-color: #bababa;
	    -fx-border-width: 1px;
	    -fx-border-style: solid;
	    -fx-padding: 0;
 	}
 	.check-box:hover .box{
 		-fx-border-width:2px;
 		-fx-padding:-1px;
 	}
 	.check-box:selected:hover .box{
 		-fx-border-width:2px;
 		-fx-padding:-1px;
 	}
 	.check-box:selected .box{
 		-fx-border-color: #BCBCBC;
 	}
 	.check-box .mark {
	    -fx-background-color: transparent;
	    -fx-background-insets: 0;
	    
	    -fx-padding:7px;
	    -fx-shape: "M1,10L3,8L7,12L14,5L16,7L7,16Z"
	}

	.check-box:selected .mark {
	    -fx-background-color: #BCBCBC;
	}

	.check-box:indeterminate .mark {
	   -fx-background-color: #BCBCBC; 
	   -fx-background-insets: 2.8; 
	   -fx-padding:7px;
	   -fx-shape: null;
	}
	.check-box:disabled{
	    -fx-opacity: 0.4;
	}
	.check-box:disabled .box{
	    -fx-background-color: #cdcdcd;
	    -fx-border-color: #aaa;
	
	}
	.check-box:armed .box{
	    -fx-background-color: #A3A3A3, #BCBCBC;
	    -fx-background-insets: -1, 2;
	    -fx-background-radius: 0, 0;
	}
	.check-box:armed .box .mark{
	  -fx-background-color: white;
	}
	
/*
 * RadioButton
 */
	.radio-button .radio  {
	   -fx-background-color: transparent;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-radius: 1.0em;
	   -fx-border-color: #bababa;
	   -fx-padding: 2px;
	}
	.radio-button:hover .radio {
	    -fx-border-color: #A3A3A3;
	    -fx-border-width: 2px;
	    -fx-padding: 1px;
	}
	.radio-button:selected:hover .radio {
	    -fx-border-color: #A3A3A3;
	    -fx-border-width: 2px;
	    -fx-padding: 1px;
	}
	.radio-button .dot {
	   -fx-background-color: transparent;
	   -fx-background-insets: 0;
	   -fx-background-radius: 1.0em;
	   -fx-padding: 5px;
	}
	.radio-button:selected .dot {
	   -fx-background-color: #BCBCBC;
	}
	.radio-button:disabled{
	    -fx-opacity: 0.5;
	}
	.radio-button:disabled .radio{
	    -fx-background-color: #e6e6e6;
	    -fx-border-color: #d9d9d9;
	}
	.radio-button:focused .radio{
	   -fx-background-color: transparent;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-radius: 1.0em, 0;
	   -fx-border-color: #bababa, transparent ;
	   -fx-border-insets: 0px, -2px;
	   -fx-border-width: 1px, 1px;
	   -fx-padding: 2px;   
	}
	.radio-button:pressed:selected .dot{
	    -fx-background-color: white;
	}
	.radio-button:armed .dot{
	    -fx-background-color: #bababa;
	}
	.radio-button:focused:armed .radio{
	   -fx-background-color: #bababa;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-style: solid, segments(1, 1);
	   -fx-border-radius: 1.0em, 0;
	   -fx-border-color: #A3A3A3, #BCBCBC;
	   -fx-border-insets: 0px, -2px;
	   -fx-border-width: 1px, 1px;
	   -fx-padding: 2px;   
	}

/*
 * Accordion
 */
 	.accordion TitledPane{
		-fx-text-fill: #222222;
		-fx-padding: 0 0 2px 0;
	}
 	.accordion TitledPane .title{
 		-fx-background-color: #d9d9d9;
 		-fx-border-color: #eaeaea;
 		-fx-border-width: 1px;
 		-fx-border-insets: 0px;
 		-fx-background-insets: 0 0 1px 0;
 		-fx-border-style: solid inside;
 		-fx-padding:10px 20px;
 	}
 	.accordion TitledPane .title .arrow-button .arrow{
 		-fx-shape:"M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
 		-fx-focus-color: transparent;
 		-fx-accent:transparent;
 		-fx-background-insets: 0 0 0 0;
 	}
 	.accordion TitledPane .content{
 		-fx-background-color: white;
 		-fx-border-color: #eaeaea;
 		-fx-text-fill: #222222;
 	}
 	.accordion:disabled{
 		-fx-background-color: #e6e6e6;
	    -fx-border-color: #d9d9d9;
 	}

/*
 * Tab Pane
 */
 	.tab-pane .tab-header-area .tab-header-background{
 		-fx-background-color: transparent;
 	}
 	.tab-pane .tab-header-area .headers-region{
 		-fx-background-color: transparent;
 	}
 	.tab-pane .tab-header-area .tab {
 		-fx-border-width: 0px 0px 0px 0px;
 		-fx-border-radius: 0;
 		-fx-background-radius: 0;
 		-fx-background-color: transparent;
	    -fx-background-insets: 0;
		-fx-border-insets: 0;
		-fx-focus-traversable: false;
		-fx-focus-color: transparent;
		-fx-faint-focus-color: transparent;
 	}
 	.tab-pane .tab-header-area .tab-header-background{
 		-fx-border-color: transparent transparent #BCBCBC transparent;
 	}
 	.tab-pane .tab-header-area .tab .tab-label{
 		-fx-text-fill: #BCBCBC;
 	}
 	.tab-pane .tab-header-area .tab:selected .tab-label{
 		-fx-text-fill: #222222;
 	}
 	.tab-pane .tab-header-area .tab:hover .tab-label{
 		-fx-text-fill: #222222;
 	}
 	.tab-pane .tab-header-area .tab:selected{
 		-fx-border-width: 1px 1px 1px 1px;
 		-fx-background-color: #ffffff;
 		-fx-border-color: #BCBCBC;
		-fx-background-insets: 0 0 -1px 0;
 		-fx-border-insets: 0 0 -1px 0;
 	}
 	.tab-pane .tab-header-area{
 		-fx-background-insets: 0, 0 0 1 0;
 		-fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
 	}
 	.tab-pane .tab-content-area{
 		-fx-background-color: #ffffff;
 		-fx-border-color: transparent #BCBCBC #BCBCBC #BCBCBC;
 	}
 	.tab-pane:disabled .tab-content-area{
 		-fx-background-color: #e6e6e6;
	    -fx-border-color: #d9d9d9;
 	}

 /*
  * Progress Bar
  */
  	.progress-bar{
  		-fx-background-insets: 0, 1;
	    -fx-indeterminate-bar-length: 60;
	    -fx-indeterminate-bar-escape: true;
	    -fx-indeterminate-bar-flip: true;
	    -fx-indeterminate-bar-animation-time: 2;
  	}
	.progress-bar .track{
		-fx-background-color: #eeeeee;
		-fx-background-radius: 0;
		-fx-border-radius:0;
	}
	.progress-bar .bar{
		-fx-background-color: #cccccc;
		-fx-background-radius: 0;
		-fx-background-insets: 0, 1, 2;
    	-fx-padding: 0.5em; /* 5 */
	}
	.progress-bar:disabled{
 		-fx-background-color: #e6e6e6;
	    -fx-border-color: #d9d9d9;
 	}
 	
 	
/*
 * Scroll Bar
 */
 
	.scroll-bar .thumb{
	    -fx-background-color: #bcbcbc;
	    -fx-background-insets: 0;
	    -fx-background-radius: 0;
	}
	
	.scroll-bar .thumb:hover {
		-fx-background-color: #AAAAAB;
	}
	
	.scroll-bar .thumb:pressed {
	    -fx-background-color: #606060;
	}
	.scroll-bar .track {
	     -fx-background-color: #f0f0f0;
	    -fx-background-insets: 0;
	    -fx-background-radius: 0;
	}
	.scroll-bar .track-background {
	     -fx-background-color: #F1F1F1;
	    -fx-background-insets: 0;
	}
	
	.scroll-bar .increment-button, .scroll-bar .decrement-button {
	    -fx-background-color: #f0f0f0;
	    -fx-background-insets: 0;
	    -fx-background-radius: 0;
	    
	    -fx-padding: 0.25em; /* 3 */
	}
	
	.scroll-bar .increment-button:hover, .scroll-bar .decrement-button:hover  {
	    -fx-background-color: #dadada;
	}
	
	.scroll-bar .increment-button:pressed, .scroll-bar .decrement-button:pressed {
	    -fx-background-color: #606060;
	}
	
	.scroll-bar:horizontal .increment-arrow {
	    -fx-background-color: black, black;
	    -fx-background-insets: 1 0 -1 0, 0;
	    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
	    -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
	}
	
	.scroll-bar:vertical .increment-arrow {
	    -fx-background-color: black, black;
	    -fx-background-insets: 1 0 -1 0, 0;
	    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
	    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
	}
	
	.scroll-bar .increment-button:pressed .increment-arrow {
	    -fx-background-color: white, white;
	}
	
	.scroll-bar:horizontal .decrement-arrow {
	    -fx-background-color: black, black;
	    -fx-background-insets: 1 0 -1 0, 0;
	    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
	    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
	}
	
	.scroll-bar:vertical .decrement-arrow {
	    -fx-background-color: black, black;
	    -fx-background-insets: 1 0 -1 0, 0;
	    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
	    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
	}
	
	.scroll-bar .decrement-button:pressed .decrement-arrow {
	    -fx-background-color: white, white;
	}
	
	.scroll-bar:disabled {
	    -fx-opacity: 0.4;
	}
/*
 * Scroll Pane
 */

.scroll-pane {
    -fx-background-color: transparent,-fx-background;
}

.scroll-pane .corner {
    -fx-background-color: white, #f1f1f1;
}
 
	
/*
 * Default Button
 */
	.btn-default{
		-fx-background-color: #008287;
		-fx-text-fill: #ffffff;
	}
	.btn-default:hover{
		-fx-background-color: #008B91;
	}
	.btn-default:pressed, .btn-default:default:hover:pressed{
	  -fx-background-color: #00494C;
	}

/*
 * Primary Button
 */
	.btn-primary{
		-fx-background-color: #16499a;
		-fx-text-fill: #ffffff;
	}
	.btn-primary:hover{
		-fx-background-color: #174EA5;
	}
	.btn-primary:pressed, .btn-primary:default:hover:pressed{
	  -fx-background-color: #0D2D60;
	}

/*
 * Info
 */
 	.btn-info{
		-fx-background-color: #4390df;
		-fx-text-fill: #ffffff;
	}
	.btn-info:hover{
		-fx-background-color: #4697EA;
	}
	.btn-info:pressed, .btn-info:default:hover:pressed{
	  -fx-background-color: #316BA5;
	}
	
/*
 * Success Button
 */
 	.btn-success{
		-fx-background-color: #60a917;
		-fx-text-fill: #ffffff;
	}
	.btn-success:hover{
		-fx-background-color: #66B518;
	}
	.btn-success:pressed, .btn-success:default:hover:pressed{
	  -fx-background-color: #3F700F;
	}

/*
 * Warning Button
 */
 	.btn-warning{
		-fx-background-color: #fa6800;
		-fx-text-fill: #ffffff;
	}
	.btn-warning:hover{
		-fx-background-color: #FF6E00;
	}
	.btn-warning:pressed, .btn-warning:default:hover:pressed{
	  -fx-background-color: #C15000;
	}
/*
 * Danger Button
 */
 	.btn-danger{
		-fx-background-color: #9a1616;
		-fx-text-fill: #ffffff;
	}
	.btn-danger:hover{
		-fx-background-color: #A51717;
	}
	.btn-danger:pressed, .btn-warning:default:hover:pressed{
	  -fx-background-color: #600D0D;
	}
/*
 * Iverse Button
 */
 	.btn-inverse{
		-fx-background-color: #222222;
		-fx-text-fill: #ffffff;
	}
	.btn-inverse:hover{
		-fx-background-color: #2D2D2D;
	}
	.btn-inverse:pressed, .btn-warning:default:hover:pressed{
	  -fx-background-color: #fff;
	  -fx-text-fill: #222;
	}
/*
 * White Button
 */
 	.btn-white{
		-fx-background-color: #ffffff;
		-fx-text-fill: #222222;
	}
	.btn-white:hover{
		-fx-background-color: #ffffff;
	}
	.btn-white:pressed, .btn-warning:default:hover:pressed{
	  -fx-background-color: #222222;
	  -fx-text-fill: #ffffff;
	}
	
	
	
/*
 * Default Checkbox
 */
	.check-box-default .box{
 		-fx-background-color: transparent;
	    -fx-background-insets: 0;
	    -fx-background-radius: 0;
	    -fx-border-color: #1ba1e2;
	    -fx-border-width: 1px;
	    -fx-border-style: solid;
	    -fx-padding: 0;
 	}
 	.check-box-default:selected .box{
 		-fx-border-color: #1ba1e2;
 	}
 	.check-box-default .mark {
	    -fx-background-color: transparent;
	    -fx-background-insets: 0;
	    
	    -fx-padding:7px;
	    -fx-shape: "M1,10L3,8L7,12L14,5L16,7L7,16Z"
	}
	.check-box-default:selected .mark {
	    -fx-background-color: #1ba1e2;
	}
	.check-box-default:indeterminate .mark {
	   -fx-background-color: #1ba1e2; 
	   -fx-background-insets: 2.8; 
	   -fx-padding:7px;
	   -fx-shape: null;
	}
	.check-box-default:armed .box{
	    -fx-background-color: white, #1ba1e2;
	    -fx-background-insets: -1, 2;
	    -fx-background-radius: 0, 0;
	}
	.check-box-default:armed .box .mark{
	  -fx-background-color: white;
	}
/*
 * Dark Checkbox
 */
	.check-box-dark .label{
 		-fx-text-fill:#333333;
 	}
	.check-box-dark .box{
 		-fx-background-color: transparent;
	    -fx-background-insets: 0;
	    -fx-background-radius: 0;
	    -fx-border-color: #333333;
	    -fx-border-width: 1px;
	    -fx-border-style: solid;
	    -fx-padding: 0;
 	}
 	.check-box-dark:selected .box{
 		-fx-border-color: #333333;
 	}
 	.check-box-dark .mark {
	    -fx-background-color: transparent;
	    -fx-background-insets: 0;
	    
	    -fx-padding:7px;
	    -fx-shape: "M1,10L3,8L7,12L14,5L16,7L7,16Z"
	}
	.check-box-dark:selected .mark {
	    -fx-background-color: #333333;
	}
	.check-box-dark:indeterminate .mark {
	   -fx-background-color: #333333; 
	   -fx-background-insets: 2.8; 
	   -fx-padding:7px;
	   -fx-shape: null;
	}
	.check-box-dark:armed .box{
	    -fx-background-color: white, #333333;
	    -fx-background-insets: -1, 2;
	    -fx-background-radius: 0, 0;
	}
	.check-box-dark:armed .box .mark{
	  -fx-background-color: white;
	}
/*
 * Light Checkbox
 */
	.check-box-light .label{
 		-fx-text-fill:#eeeeee;
 	}
	.check-box-light .box{
 		-fx-background-color: transparent;
	    -fx-background-insets: 0;
	    -fx-background-radius: 0;
	    -fx-border-color: #eeeeee;
	    -fx-border-width: 1px;
	    -fx-border-style: solid;
	    -fx-padding: 0;
 	}
 	.check-box-light:selected .box{
 		-fx-border-color: #eeeeee;
 	}
 	.check-box-light .mark {
	    -fx-background-color: transparent;
	    -fx-background-insets: 0;
	    
	    -fx-padding:7px;
	    -fx-shape: "M1,10L3,8L7,12L14,5L16,7L7,16Z"
	}
	.check-box-light:selected .mark {
	    -fx-background-color: #eeeeee;
	}
	.check-box-light:indeterminate .mark {
	   -fx-background-color: #eeeeee; 
	   -fx-background-insets: 2.8; 
	   -fx-padding:7px;
	   -fx-shape: null;
	}
	.check-box-light:armed .box{
	    -fx-background-color: white, #eeeeee;
	    -fx-background-insets: -1, 2;
	    -fx-background-radius: 0, 0;
	}
	.check-box-light:armed .box .mark{
	  -fx-background-color: white;
	}
/*
 * White Checkbox
 */
	.check-box-white .label{
 		-fx-text-fill:#ffffff;
 	}
	.check-box-white .box{
 		-fx-background-color: transparent;
	    -fx-background-insets: 0;
	    -fx-background-radius: 0;
	    -fx-border-color: #ffffff;
	    -fx-border-width: 1px;
	    -fx-border-style: solid;
	    -fx-padding: 0;
 	}
 	.check-box-white:selected .box{
 		-fx-border-color: #ffffff;
 	}
 	.check-box-white .mark {
	    -fx-background-color: transparent;
	    -fx-background-insets: 0;
	    
	    -fx-padding:7px;
	    -fx-shape: "M1,10L3,8L7,12L14,5L16,7L7,16Z"
	}
	.check-box-white:selected .mark {
	    -fx-background-color: #ffffff;
	}
	.check-box-white:indeterminate .mark {
	   -fx-background-color: #ffffff; 
	   -fx-background-insets: 2.8; 
	   -fx-padding:7px;
	   -fx-shape: null;
	}
	.check-box-white:armed .box{
	    -fx-background-color: white, black;
	    -fx-background-insets: -1, 1;
	    -fx-background-radius: 0, 0;
	}
	.check-box-white:armed .box .mark{
	  -fx-background-color: white;
	}
	
	
	
/*
 * Default ComboBox
 */
	.combo-box-default .arrow {
	    -fx-padding: 4;
	    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
	    -fx-background-color: #1ba1e2;
	}
	.combo-box-default .list-cell{
		-fx-text-fill: #1ba1e2;
	}
	.combo-box-default .list-view .list-cell:filled:selected{
	    -fx-background-color: #1ba1e2;
	    -fx-text-fill: #ffffff;
	}
/*
 * Dark ComboBox
 */
	.combo-box-dark.arrow {
	    -fx-padding: 4;
	    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
	    -fx-background-color: #333333;
	}
	.combo-box-dark .list-cell{
		-fx-text-fill: #333333;
	}
	.combo-box-dark .list-view .list-cell:filled:selected{
	    -fx-background-color: #333333;
	    -fx-text-fill: #ffffff;
	}
/*
 * Light ComboBox
 */
	
	.combo-box-light .arrow {
	    -fx-padding: 4;
	    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
	    -fx-background-color: #eeeeee;
	}
	.combo-box-light .list-cell{
		-fx-text-fill: #eeeeee;
	}
	.combo-box-light .list-view .list-cell{
		-fx-text-fill: #555555;
	}
	.combo-box-light .list-view .list-cell:filled:selected{
	    -fx-background-color: #eeeeee;
	    -fx-text-fill: #555555;
	}
/*
 * White ComboBox
 */
	.combo-box-white .arrow {
	    -fx-padding: 4;
	    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
	    -fx-background-color: #ffffff;
	}
	.combo-box-white .list-cell{
		-fx-text-fill: #ffffff;
	}
	.combo-box-white .list-view .list-cell{
		-fx-text-fill: #555555;
	}
	.combo-box-white .list-view .list-cell:filled:selected{
	    -fx-background-color: #eeeeee;
	    -fx-text-fill: #555555;
	}

	
	
/*
 * Default Label
 */
	.label-default{
 		-fx-text-fill: #222222;
 	}

/*
 * Success Label
 */
	.label-success{
 		-fx-text-fill: #60a917;
 	}
/*
 * Info Label
 */
 	.label-info{
 		-fx-text-fill: #4390df;
 	}
/*
 * Warning Label
 */
	.label-warning{
		-fx-text-fill: #fa6800;
	}
/*
 * Danger Label
 */
	.label-danger{
		-fx-text-fill: #9a1616;
	}
/*
 * White Label
 */
	.label-white{
		-fx-text-fill: #ffffff;
	}
	
	
	
/*
 * Default Pane
 */
	.pane-default{
		-fx-background-color: #1ba1e2;
	}
	.pane-default .label, .pane-default .check-box, .pane-default .radio-button, .pane-default .hyperlink{
		-fx-text-fill: #ffffff;
	}
/*
 * Dark Pane
 */
	.pane-dark{
		-fx-background-color: #333333;
	}
	.pane-dark .label, .pane-dark .check-box, .pane-dark .radio-button, .pane-dark .hyperlink{
		-fx-text-fill: #ffffff;
	}
/*
 * Light Pane
 */
	.pane-light{
		-fx-background-color: #eeeeee;
	}
	.pane-light .label, .pane-light .check-box, .pane-light .radio-button, .pane-light .hyperlink{
		-fx-text-fill: #555555;
	}
/*
 * White Pane
 */
	.pane-white{
		-fx-background-color: #ffffff;
		-fx-border-color: #eaeaea;
	}
	.pane-white .label, .pane-white .check-box, .pane-white .radio-button, .pane-white .hyperlink{
		-fx-text-fill: #555555;
	}
		
		
/*
 * Default RadioButton
 */
	.radio-button-default .radio  {
	   -fx-background-color: transparent;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-radius: 1.0em;
	   -fx-border-color: #1ba1e2;
	   -fx-padding: 2px;
	}
	.radio-button-default:hover .radio {
	    -fx-border-color: #147BAD;
	    -fx-border-width: 2px;
	    -fx-padding: 1px;
	}
	.radio-button-default:selected:hover .radio {
	    -fx-border-color: #147BAD;
	    -fx-border-width: 2px;
	    -fx-padding: 1px;
	}
	.radio-button-default .dot {
	   -fx-background-color: transparent;
	   -fx-background-insets: 0;
	   -fx-background-radius: 1.0em;
	   -fx-padding: 5px;
	}
	.radio-button-default:selected .dot {
	   -fx-background-color: #1ba1e2;
	}
	.radio-button-default:focused .radio{
	   -fx-background-color: transparent;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-radius: 1.0em, 0;
	   -fx-border-color: #1ba1e2, transparent ;
	   -fx-border-insets: 0px, -2px;
	   -fx-border-width: 1px, 1px;
	   -fx-padding: 2px;   
	}
	.radio-button-default:pressed:selected .dot{
	    -fx-background-color: white;
	}
	.radio-button-default:armed .dot{
	    -fx-background-color: #1ba1e2;
	}
	.radio-button-default:focused:armed .radio{
	   -fx-background-color: #1ba1e2;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-style: solid, segments(1, 1);
	   -fx-border-radius: 1.0em, 0;
	   -fx-border-color: #147BAD, #1ba1e2;
	   -fx-border-insets: 0px, -2px;
	   -fx-border-width: 1px, 1px;
	   -fx-padding: 2px;
	}
/*
 * Dark RadioButton
 */
	.radio-button-dark .radio  {
	   -fx-background-color: transparent;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-radius: 1.0em;
	   -fx-border-color: #333333;
	   -fx-padding: 2px;
	}
	.radio-button-dark:hover .radio {
	    -fx-border-color: #000000;
	    -fx-border-width: 2px;
	    -fx-padding: 1px;
	}
	.radio-button-dark:selected:hover .radio {
	    -fx-border-color: #000000;
	    -fx-border-width: 2px;
	    -fx-padding: 1px;
	}
	.radio-button-dark .dot {
	   -fx-background-color: transparent;
	   -fx-background-insets: 0;
	   -fx-background-radius: 1.0em;
	   -fx-padding: 5px;
	}
	.radio-button-dark:selected .dot {
	   -fx-background-color: #333333;
	}
	.radio-button-dark:focused .radio{
	   -fx-background-color: transparent;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-radius: 1.0em, 0;
	   -fx-border-color: #333333, transparent ;
	   -fx-border-insets: 0px, -2px;
	   -fx-border-width: 1px, 1px;
	   -fx-padding: 2px;   
	}
	.radio-button-dark:pressed:selected .dot{
	    -fx-background-color: white;
	}
	.radio-button-dark:armed .dot{
	    -fx-background-color: #333333;
	}
	.radio-button-dark:focused:armed .radio{
	   -fx-background-color: #333333;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-style: solid, segments(1, 1);
	   -fx-border-radius: 1.0em, 0;
	   -fx-border-color: #000000, #333333;
	   -fx-border-insets: 0px, -2px;
	   -fx-border-width: 1px, 1px;
	   -fx-padding: 2px;
	}
/*
 * Light RadioButton
 */
	.radio-button-light .radio  {
	   -fx-background-color: transparent;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-radius: 1.0em;
	   -fx-border-color: #eeeeee;
	   -fx-padding: 2px;
	}
	.radio-button-light:hover .radio {
	    -fx-border-color: #bababa;
	    -fx-border-width: 2px;
	    -fx-padding: 1px;
	}
	.radio-button-light:selected:hover .radio {
	    -fx-border-color: #bababa;
	    -fx-border-width: 2px;
	    -fx-padding: 1px;
	}
	.radio-button-light .dot {
	   -fx-background-color: transparent;
	   -fx-background-insets: 0;
	   -fx-background-radius: 1.0em;
	   -fx-padding: 5px;
	}
	.radio-button-light:selected .dot {
	   -fx-background-color: #eeeeee;
	}
	.radio-button-light:focused .radio{
	   -fx-background-color: transparent;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-radius: 1.0em, 0;
	   -fx-border-color: #eeeeee, transparent ;
	   -fx-border-insets: 0px, -2px;
	   -fx-border-width: 1px, 1px;
	   -fx-padding: 2px;   
	}
	.radio-button-light:pressed:selected .dot{
	    -fx-background-color: white;
	}
	.radio-button-light:armed .dot{
	    -fx-background-color: #eeeeee;
	}
	.radio-button-light:focused:armed .radio{
	   -fx-background-color: #eeeeee;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-style: solid, segments(1, 1);
	   -fx-border-radius: 1.0em, 0;
	   -fx-border-color: #bababa, #eeeeee;
	   -fx-border-insets: 0px, -2px;
	   -fx-border-width: 1px, 1px;
	   -fx-padding: 2px;
	}
/*
 * White RadioButton
 */
	.radio-button-white .radio  {
	   -fx-background-color: transparent;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-radius: 1.0em;
	   -fx-border-color: #ffffff;
	   -fx-padding: 2px;
	}
	.radio-button-white:hover .radio {
	    -fx-border-color: #ffffff;
	    -fx-border-width: 2px;
	    -fx-padding: 1px;
	}
	.radio-button-white:selected:hover .radio {
	    -fx-border-color: #ffffff;
	    -fx-border-width: 2px;
	    -fx-padding: 1px;
	}
	.radio-button-white .dot {
	   -fx-background-color: transparent;
	   -fx-background-insets: 0;
	   -fx-background-radius: 1.0em;
	   -fx-padding: 5px;
	}
	.radio-button-white:selected .dot {
	   -fx-background-color: #ffffff;
	}
	.radio-button-white:focused .radio{
	   -fx-background-color: transparent;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-radius: 1.0em, 0;
	   -fx-border-color: #ffffff, transparent ;
	   -fx-border-insets: 0px, -2px;
	   -fx-border-width: 1px, 1px;
	   -fx-padding: 2px;   
	}
	.radio-button-white:pressed:selected .dot{
	    -fx-background-color: white;
	}
	.radio-button-white:armed .dot{
	    -fx-background-color: #ffffff;
	}
	.radio-button-white:focused:armed .radio{
	   -fx-background-color: #ffffff;
	   -fx-background-radius: 1.0em;
	   -fx-background-insets: 0;
	   -fx-border-style: solid, segments(1, 1);
	   -fx-border-radius: 1.0em, 0;
	   -fx-border-color: #ffffff, #ffffff;
	   -fx-border-insets: 0px, -2px;
	   -fx-border-width: 1px, 1px;
	   -fx-padding: 2px;
	}
	
	
	
/*
 * Success TextField
 */
	.field-success{
		-fx-border-color: #60a917;
	}
	.field-success:focused{
		-fx-border-color: #60a917;
	}
/*
 * Info TextField
 */
	.field-info{
		-fx-border-color: #4390df;
	}
	.field-info:focused{
		-fx-border-color: #4390df;
	}
/*
 * Warning TextField
 */
	.field-warning{
		-fx-border-color: #fa6800;
	}
	.field-warning:focused{
		-fx-border-color: #fa6800;
	}
/*
 * Error TextField
 */
	.field-error{
		-fx-border-color: #9a1616;
	}
	.field-error:focused{
		-fx-border-color: #9a1616;
	}
/*
 * Line TextField
 */
	.field-line{
		-fx-border-color: -fx-box-border;
		-fx-border-width: 0 0 1 0;
		-fx-background-color: none;
	}
	.field-line:focused{
		-fx-border-color: -fx-box-border;
		-fx-border-width: 0 0 1 0;
	}

/*
 * Default Accordion
 */
	.accordion-default TitledPane{
		-fx-text-fill: #ffffff;
	}
	.accordion-default TitledPane .title{
 		-fx-background-color: #1ba1e2;
 	}
 	.accordion-default TitledPane .title .arrow-button .arrow{
 		-fx-background-color: white;
 	}
/*
 * Dark Accordion
 */
	.accordion-dark TitledPane{
		-fx-text-fill: #ffffff;
	}
	.accordion-dark TitledPane .title{
 		-fx-background-color: #333333;
 	}
 	.accordion-dark TitledPane .title .arrow-button .arrow{
 		-fx-background-color: white;
 	}
/*
 * Light Accordion
 */
	.accordion-light TitledPane{
		-fx-text-fill: #222222;
	}
	.accordion-light TitledPane .title{
 		-fx-background-color: #eeeeee;
 	}
 	.accordion-light TitledPane .title .arrow-button .arrow{
 		-fx-background-color: #222222;
 	}
/*
 * White Accordion
 */
 	.accordion-white TitledPane{
		-fx-text-fill: #1ba1e2;
	}
	.accordion-white TitledPane .title{
 		-fx-background-color: #ffffff;
 	}
 	.accordion-white TitledPane .title .arrow-button .arrow{
 		-fx-background-color: #178AC1;
 	}

/*
 * Default ProgressBar
 */
	.progress-bar-default .bar{
		-fx-background-color: #1ba1e2;
		-fx-background-radius: 0;
		-fx-background-insets: 0, 1, 2;
    	-fx-padding: 0.5em; /* 5 */
	}

/*
 * Green ProgressBar
 */
	.progress-bar-green .bar{
		-fx-background-color: #60a917;
		-fx-background-radius: 0;
		-fx-background-insets: 0, 1, 2;
    	-fx-padding: 0.5em; /* 5 */
	}

/*
 * Red ProgressBar
 */
	.progress-bar-red .bar{
		-fx-background-color: #e51400;
		-fx-background-radius: 0;
		-fx-background-insets: 0, 1, 2;
    	-fx-padding: 0.5em; /* 5 */
	}
	
/*
 * Dark Button
 */
 	.progress-bar-dark .bar{
		-fx-background-color: #5c5c5c;
		-fx-background-radius: 0;
		-fx-background-insets: 0, 1, 2;
    	-fx-padding: 0.5em; /* 5 */
	}

/*
 * Default TabPane
 */
 	.tab-pane-default .tab-header-area .tab-header-background{
 		-fx-border-color: transparent transparent #1ba1e2 transparent;
 	}
 	.tab-pane-default .tab-header-area .tab:selected{
 		-fx-border-width: 1px 1px 1px 1px;
 		-fx-background-color: #ffffff;
 		-fx-border-color: #1ba1e2;
		-fx-background-insets: 0 0 -1px 0;
 		-fx-border-insets: 0 0 -1px 0;
 	}
 	.tab-pane-default .tab-header-area .tab .tab-label{
 		-fx-text-fill: #222222;
 	}
 	.tab-pane-default .tab-header-area .tab:selected .tab-label{
 		-fx-text-fill: #1ba1e2;
 	}
 	.tab-pane-default .tab-header-area .tab:hover .tab-label{
 		-fx-text-fill: #1ba1e2;
 	}
 	.tab-pane-default .tab-header-area{
 		-fx-background-insets: 0, 0 0 1 0;
 		-fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
 	}
 	.tab-pane-default .tab-content-area{
 		-fx-background-color: #ffffff;
 		-fx-border-color: transparent #1ba1e2 #1ba1e2 #1ba1e2;
 	}
/*
 * Dark TabPane
 */
 	.tab-pane-dark .tab-header-area .tab-header-background{
 		-fx-border-color: transparent transparent #333333 transparent;
 	}
 	.tab-pane-dark .tab-header-area .tab:selected{
 		-fx-border-width: 1px 1px 1px 1px;
 		-fx-background-color: #ffffff;
 		-fx-border-color: #333333;
		-fx-background-insets: 0 0 -1px 0;
 		-fx-border-insets: 0 0 -1px 0;
 	}
 	.tab-pane-dark .tab-header-area .tab .tab-label{
 		-fx-text-fill: #ffffff;
 	}
 	.tab-pane-dark .tab-header-area .tab:selected .tab-label{
 		-fx-text-fill: #333333;
 	}
 	.tab-pane-dark .tab-header-area .tab:hover .tab-label{
 		-fx-text-fill: #333333;
 	}
 	.tab-pane-dark .tab-header-area{
 		-fx-background-insets: 0, 0 0 1 0;
 		-fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
 	}
 	.tab-pane-dark .tab-content-area{
 		-fx-background-color: #ffffff;
 		-fx-border-color: transparent #333333 #333333 #333333;
 	}
/*
 * Light TabPane
 */
 	.tab-pane-light .tab-header-area .tab-header-background{
 		-fx-border-color: transparent transparent #eeeeee transparent;
 	}
 	.tab-pane-light .tab-header-area .tab:selected{
 		-fx-border-width: 1px 1px 1px 1px;
 		-fx-background-color: #ffffff;
 		-fx-border-color: #eeeeee;
		-fx-background-insets: 0 0 -1px 0;
 		-fx-border-insets: 0 0 -1px 0;
 	}
 	.tab-pane-light .tab-header-area .tab .tab-label{
 		-fx-text-fill: #222222;
 	}
 	.tab-pane-light .tab-header-area .tab:selected .tab-label{
 		-fx-text-fill: #CECECE;
 	}
 	.tab-pane-light .tab-header-area .tab:hover .tab-label{
 		-fx-text-fill: #CECECE;
 	}
 	.tab-pane-light .tab-header-area{
 		-fx-background-insets: 0, 0 0 1 0;
 		-fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
 	}
 	.tab-pane-light .tab-content-area{
 		-fx-background-color: #ffffff;
 		-fx-border-color: transparent #eeeeee #eeeeee #eeeeee;
 	}
/*
 * White TabPane
 */
	
	.tab-pane-white .tab-header-area .tab-header-background{
 		-fx-border-color: transparent transparent #ffffff transparent;
 	}
 	.tab-pane-white .tab-header-area .tab:selected{
 		-fx-border-width: 1px 1px 1px 1px;
 		-fx-background-color: #ffffff;
 		-fx-border-color: #ffffff;
		-fx-background-insets: 0 0 -1px 0;
 		-fx-border-insets: 0 0 -1px 0;
 	}
 	.tab-pane-white .tab-header-area .tab .tab-label{
 		-fx-text-fill: #222222;
 	}
 	.tab-pane-white .tab-header-area .tab:selected .tab-label{
 		-fx-text-fill: #1ba1e2;
 	}
 	.tab-pane-white .tab-header-area .tab:hover .tab-label{
 		-fx-text-fill: #1ba1e2;
 	}
 	.tab-pane-white .tab-header-area{
 		-fx-background-insets: 0, 0 0 1 0;
 		-fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
 	}
 	.tab-pane-white .tab-content-area{
 		-fx-background-color: #ffffff;
 		-fx-border-color: transparent #ffffff #ffffff #ffffff;
 	}	
 	
 